<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" href="">TrainingSite</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/html" class="nav-link">Html</a>
        </li>
        <li class="nav-item">
          <a routerLink="/css" class="nav-link">CSS</a>
        </li>
        <li class="nav-item">
          <a routerLink="js" class="nav-link">JavaScript</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" routerLink="" href="">RadixWeb</a>
  </div>
</nav>

<div class="container shadow my-3 p-3">
  <router-outlet></router-outlet>
</div>