<h1>Employees List</h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees;">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td><a [routerLink]="['detail',employee.id]">Click</a></td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>