<div class="container w-25">
    <div class="row mb-3">
        <label for="" class="form-label">City</label>
        <input type="text" name="" id="" [(ngModel)]="city.cityName" class="form-control">
    </div>
    <div class="row mb-3">
        <label for="" class="form-label">StateId</label>
        <input type="number" name="" id="" [(ngModel)]="city.stateId" class="form-control">
    </div>
    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-outline-primary" (click)="editCity()">Confirm</button>
    </div>
</div>