<div class="container w-50">
    <table class="table table-bordered text-center">
        <tr>
            <th>Sr No.</th>
            <th>City</th>
            <th>State</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor = "let city of cityList;let i=index">
            <td>{{i+1}}</td>
            <td>{{city.cityName}}</td>
            <td>{{city.stateName}}</td>
            <td><button class="btn btn-outline-primary btn-sm" (click)="editCity(city.id)">Edit</button></td>
            <td><button class="btn btn-outline-primary btn-sm" (click)="deleteCity(city.id)">Remove</button></td>
        </tr>
    </table>
</div>