<div class="container">
    <div id="i1">
        <img src="../../../assets/rocks.jpg" alt="" width="350px"
            height="auto">
    </div>
    <div id="i2">
        <img src="../../../assets/mountainskies.jpg" alt=""
            width="350px" height="300px">
    </div>
    <div id="i3">
        <img src="../../../assets/falls2.jpg" alt="" width="350px"
            height="300px">
    </div>
    <div id="i4">
        <img src="../../../assets/paris.jpg" alt="" width="350px"
            height="300px">
    </div>
    <div id="i5">
        <img src="../../../assets/nature.jpg" alt="" width="350px"
            height="300px">
    </div>
    <div id="i6">
        <img src="../../../assets/falls2.jpg" alt="" width="350px"
            height="300px">
    </div>
    <div id="i7">
        <img src="../../../assets/paris.jpg" alt="" width="350px"
            height="300px">
    </div>
    <div id="i8">
        <img src="../../../assets/mountainskies.jpg" alt=""
            width="350px" height="300px">
    </div>

    <div id="i9">
        <img src="../../../assets/nature.jpg" alt="" width="350px"
            height="300px">
    </div>
</div>