
<div class="container w-75 mt-5 p-3 shadow">
  <div class="row g-3">
    <div class="col-4">
      <h5 class="text-center">Advertisements</h5>
      <app-leftbar-ads></app-leftbar-ads>
    </div>
    <div class="col-8">
      <div class="row g-3">
        <div class="col-6">
          <h5 class="text-center">SignUp</h5>
          <app-signup></app-signup>
        </div>
        <div class="col-6">
          <h5 class="text-center">Login</h5>
          <app-login></app-login>
        </div>
      </div>
      <hr>
      <div class="row g-3">
        <div class="col-6">
          <h5 class="text-center">Rectangle Area</h5>
          <app-rectangle></app-rectangle>
        </div>
        <div class="col-6">
          <h5 class="text-center">Circle Area</h5>
          <app-circle></app-circle>
        </div>
      </div>
    </div>
  </div>
</div>